.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .search {
    .searchForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      &__search,
      &__submit {
        background-color: #2f3253;
        color: #fafafa;
        border: none;
        outline: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-family: "Roboto", sans-serif;
      }

      &__search {
        text-align: center;
        &::-webkit-search-cancel-button {
          display: none;
        }
      }

      &__submit {
        cursor: pointer;
      }
    }
  }

  &__books {
    display: flex;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
    min-height: 100vh;

    &.skeleton {
      .book > *:not(img) {
        animation: skeleton 250ms linear infinite alternate;
        opacity: 0.7;
      }

      .book > img {
        filter: blur(4px);
        transition: filter 1s ease-in;
      }

      @keyframes skeleton {
        0% {
          background-color: rgb(163, 184, 194);
          color: rgb(163, 184, 194);
        }

        100% {
          background-color: rgb(240, 243, 245);
          color: rgb(240, 243, 245);
        }
      }
    }

    .searching {
      text-align: center;
    }

    .book {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;
      margin: 0 auto 1rem auto;
      flex: 100%;

      @media (min-width: 48rem) {
        flex: 50%;
      }

      @media (min-width: 80rem) {
        flex: 33%;
      }

      @media (min-width: 120rem) {
        flex: 25%;
      }

      @media (min-width: 160rem) {
        flex: 20%;
      }

      & > span > details {
        display: inline-block;
        cursor: pointer;

        summary {
          cursor: pointer;
        }

        & > p {
          cursor: initial;
        }
      }

      &__cover,
      &__noCover {
        margin: 0 auto;
        width: 11.25rem;
        height: 16.875rem;
      }
    }
  }
}
