@import 'global';

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @import 'navbar';

  .title {
    text-align: center;
  }

  @import 'main';

  @import 'jump';

  @import 'footer';
}
